/* Reset */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Reusable */
.brand {
  display: flex;
  align-items: center;
}

.brand__header {
  margin-left: 14px;
  font-size: 21px;
  font-weight: 600;
  color: #C4A88D;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

.brand__header p {
  font-weight: 400;
}

.decorator {
  position: relative;
}

.decorator::before {
  position: absolute;
  content: '';
  top: 0;
  transform: translateX(50px) translateY(-50%);
  width: 4px;
  height: 94px;
  background:#C4A88D;
}

.heading h1, .heading h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 42px;
  line-height: 50px;
  color: #12355B;
}

.heading p {
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.heading h1:nth-child(2) {
  font-weight: 700;
}

section {
  padding-top: 71px;
}

/* Navbar */

.navbar {
  padding: 40px 30px 40px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1;
  background: transparent;
  transition: all 200ms linear;
}

.navbar__panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.burger {
  display: none;
  cursor: pointer;
}

.navbar.scrolled {
  background-color: #12355B;
}

.navbar.scrolled .navbar__options li a {
  color: white;
}

.navbar .navbar__options li a {
  color: #12355B;
}

@media screen and  (max-width: 1300px){
  .navbar {
    flex-direction: column;
  }

  .burger {
    display: block;
  }

  .navbar .brand {
    align-self: flex-start;
  }

  .navbar .navbar__options {
    margin-top: 16px;
    flex-direction: column;
    display: none !important;
  }

  .navbar__options.navbar__options--toggled {
    display: flex !important;
  }
}

/* Navbar buttons */

.navbar .navbar__options {
  list-style-type: none;
  
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
}

.navbar .navbar__options li {
  margin: 0 26px;
}

.navbar .navbar__options a {
  text-decoration: none;
  color: #F2F2F2;
  display:block;
  height: 100%;
  padding: 10px 25px;
  letter-spacing: 0.06em;
  white-space: nowrap;
}

.navbar .navbar__options li:hover a {
  opacity: 0.5;
}

.navbar .navbar__option--contact {
  border: 2px solid #C4A88D;
}

main {
  padding-top: 120px;
}

/* Author */

.post, .sources {
  display: flex;
  justify-content: center;
}

.author {
  background: rgba(196,168,141, 0.1);
  display: flex;
  justify-content: center;
  padding: 36px 0;
}

.author .author__box {
  display: flex;
  align-items: center;
}

.author__avatar {
  background: #c4c4c4;
  border-radius: 100%;
  width: 90px;
  height: 90px;
  margin-right: 19px;
}

.author__info {
  max-width: 500px;
}

.author__info header {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: black;
  opacity: 0.5;
}

.author__who {
  font-family: 'Poppins', sans-serif;
  color: black;
  opacity: 0.5;
  font-weight: 400;
}

.author__who strong {
  font-weight: 700;
}

.author__desc {
  font-family: 'Poppins', sans-serif;
  color: black;
  opacity: 0.5;
  font-weight: 400;
}

/* footer */

footer {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 67px;
  padding-bottom: 74px;
  background: #12355B;
}

.footer__sitemap {
  margin-top: 52px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: rgba(196,168,141,0.8);
}

.footer__navigation {
  list-style-type: none;

  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 27px;
}

.footer__navigation svg {
  display: inline-block;
  vertical-align: middle;
}

@media screen and (max-width: 768px) {
  .brand__header {
    font-size: 1em;
  }
  
  .footer__sitemap {
    grid-template-columns: 1fr;
    row-gap: 2em;
  }
}